[submodule "util/regression"]
	path = lib/foldseek/lib/mmseqs/util/regression
	url = https://github.com/soedinglab/MMseqs2-Regression.git
	update = none
[submodule "regression"]
	path = lib/foldseek/regression
	url = https://github.com/steineggerlab/foldseek-regression
	update = none
